<?php
$_Config = [
    // db options
    'db_host' => 'localhost',
    'db_port' => '',
    'db_name' => 'vk_mini_app',
    'db_user' => 'vk_mini_app',
    'db_pass' => 'vk_mini_app_password',
    'db_charset' => 'utf8',
    // server options
    'server_mode' =>'production',
    // vk app id
    'vk_app_id' => '',
    // client vk app secret key
    'client_secret' => '',
    // random phrase to generate auth token for clients
    'server_key' => 'Придумайте случайную строку'
];
?>